ytd-rich-section-renderer:has(a[href*="/shorts/"]),
ytd-reel-shelf-renderer:has(a[href*="/shorts/"]),
ytd-video-renderer:has(a[href*="/shorts/"]),
ytd-guide-entry-renderer:has(path[d*="M10 14.65v-5.3L15 12l-5"]),
yt-chip-cloud-chip-renderer:has(yt-formatted-string[title="Shorts"]) {
	visibility: hidden !important;
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}
